
/* ::::::::::::::::::::::::::::::::::::::: HOME :::::::::::::::::::::::::::::::::::::::::::::: */


    
    

@font-face {
  font-family: "Open Sans";
  src: url("../font/open_sans/OpenSans-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: "Open Sans";
  src: url("../font/open_sans/OpenSans-Regular.ttf");
  font-weight: 400; }

@font-face {
  font-family: "Open Sans";
  src: url("../font/open_sans/OpenSans-Semibold.ttf");
  font-weight: 500; }

@font-face {
  font-family: "Open Sans";
  src: url("../font/open_sans/OpenSans-Bold.ttf");
  font-weight: 700; }
    
    
    
    @font-face {
  font-family: "Open Sans Italic";
  src: url("../font/open_sans/OpenSans-LightItalic.ttf");
  font-weight: 300; }

@font-face {
  font-family: "Open Sans Italic";
  src: url("../font/open_sans/OpenSans-Italic.ttf");
  font-weight: 400; }

@font-face {
  font-family: "Open Sans Italic";
  src: url("../font/open_sans/OpenSans-SemiboldItalic.ttf");
  font-weight: 500; }

@font-face {
  font-family: "Open Sans Italic";
  src: url("../font/open_sans/OpenSans-BoldItalic.ttf");
  font-weight: 700; }
    


.logo {
    
    content: url("../img/logo.png"); 
    position: inherit;
    float: center;
    padding-top: 75%;
    padding-bottom: 1%;
    width: 80%;
    height: auto;
   
}

.home {
    
    background: url("../img/Sfondo_trasp.png") no-repeat scroll;
    position: relative;
    font-size: 1.1rem;
    font-family: "Open Sans";
    width: 100%; 
    height: auto;
    top: 2rem;
    text-align: center;
    background-size: 110%;
    overflow: auto;

}
   
.basic {
    
    position: absolute;
    font-family: "Open Sans";
    width: 100%;
    height: 100%;
    padding: 0px;
    text-align: center;
    font-size: 1.1rem;
    overflow: auto;

    
}


.logo_top {
    
    content: url("../img/logo.png"); 
    position: static;
    margin-top: 12%;
    margin-bottom:2%;
    margin-left: 2%;
    width: 80%%;
    height: auto;

}

#chisono {
    
    position: relative;
    float: right;
}
   
#news {
    
    background-color: #00bfa5;
    margin-top: 2rem;
    width: 60%;
}



/* :::::::::::::::::::::::::::::::::::::::::::: CHI SONO :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


#giordi {
 
    width: 40%;
    height: auto;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-left: 10%;
    position: relative;
    float: left;
    
    
}

.cont_giordi {
    
    color: white;
    width: 100%;
    text-align: left;
    height: auto;
    margin: 0;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 5%;
    line-height: 1.5rem;
    
}
	
blockquote {
    
    margin-top: 1%;
    font-family: "Open Sans Italic";
    font-style: italic;
    
    
}

blockquote::before{
    
    content: "\201C"; 
    font-family: "Open Sans Italic";
    font-size: 50px;
    font-weight: bold;
    color: #999;
    position: relative;
    top: 15px;
}



blockquote::after{
    
    content: "\201D"; 
    font-family: "Open Sans Italic";
    font-size: 45px;
    font-weight: bold;
    color: #999;
    position: relative;
    top: 15px;
}





/*  ::::::::::::::::::::::::::::::::::::::: SERVICE ::::::::::::::::::::::::::::::::::::::: */


#wrapper {
    
    position: absolute;
    overflow:auto;
    width: 100%;
    z-index:1;
    
}

.lista_collapsible {
    
    color: white;
    border-style: none;
}


.fa-ul {
 
    text-align: left;
    padding: 0;
    margin: 0;
    
}


/* ::::::::::::::::::::::::::::::::::::::: PROMO ::::::::::::::::::::::::::::::::::::::: */



.row{
    
    padding: 0 auto;
    margin: 0 auto;
    position:relative;
	min-width:12.5rem;
	/*max-width:50em;*/
    
}

.promo_icon{
    
    position:relative;
    width:30%;
    height:auto;
    float:left;
    height: auto;
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
    
}
.promo_text{
      
    color: white;
    position: relative;
    width: 70%;
    float: right;
    height: auto;
    margin: 0;
    padding: 0;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 2%;
   
}
.promo_icon i {
    
    font-size: 2.5rem;
    position: relative;
    padding-left: 10%;
    padding-top: 50%;

}


.promo_text h3{
    
    font-size: 1.4rem;
    text-align: left;
    line-height: 1rem;
    margin: 0;
    padding: 0;
    color: #00bfa5 ;
}
.promo_text h4{
    
    font-size: 1.4rem;
    text-align: left;
    margin: 0;
    padding: 0;
}

#testo_card{
    
    text-align: left;
}


/* ::::::::::::::::::::::::::::::::::::::: STYLE ::::::::::::::::::::::::::::::::::::::: */

#giordi_esterno{

    width: 40%;
    height: auto;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
    float: left;

}

#style_title{
    
    width: 100%;

}

.style {
    
    color: white;
    width: 100%;
    height: auto;
    text-align: left;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    
}

#title{
    
    text-align: left;
    font-size: 1.5rem;
    color: #00bfa5;
    text-align: left;
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 2rem;
    
}


/* ::::::::::::::::::::::::::::::::::::::::::  GALLERY :::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.lista_img{
    
    
    align-content: center;
}

.lista_img li img {
    
    width: 100%;
    height: auto;
    
}

.indicators{
    
    top:95%;
}

/* ::::::::::::::::::::::::::::::::::::::: EVENTO INIZIALE :::::::::::::::::::::::::::::::::::::::*/

 Landscape layout (with min-width) 
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
       margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}
    
.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size: 1.125rem;
    padding:2px 0px;
    float: center;
    margin-left: 20%;
    width: 60%;
    
}


@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    
   
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::: MENU ::::::::::::::::::::::::::::::::::::::::::::::*/

html,body
{
  margin:0px;
}


#top {
    
    height: 3rem;
    position: fixed;
    text-align: left;
    top: 5px;
    /* width: 50%; */
    padding-top: 2%;
    padding-left: 4%;
}

#button_menu {
    
    background-color: transparent;
    border: none;
    border-bottom-style: none;
    color: white;
    font-size: 2rem;
    padding: 5%;
}

#button_menu:hover{
    
    color:#00bfa5;

}

#top_twitter{
    
    height: 3rem;
    position: fixed;
    top: 5px;
    padding: 0;
    
}


#menu_smartphone {
    
    height: 100%;  
    width: 10.5rem;
    max-width: 15rem;
    position:fixed;
    font-size: 1.15rem;
    top:0;
    bottom:0;
    left:-35.6rem;
    z-index:9999;
    float: left;

} 

#menu_smartphone ul {
    
    margin:0;
    padding: 0;
    list-style:none;

} 


#menu_smartphone ul li button {
        
    
    width: 100%;
    border: none;
    border-bottom-style: none;
    background-color: transparent;
    position: static;
    color: white;
    padding-left:  10%;
    padding-top: 8%;
    padding-bottom: 10%;
    
    text-align: left;
}

#menu_smartphone ul li button:hover {

    background-color:#80cbc4;

}

#menu_smartphone ul li button a:link, a:visited a:link:active, a:visited:active {
    
    color: white;
}


#menu_smartphone ul li i{
    
    float: left;
    color: white;
    font-size: 1.50rem;
    margin-right: 15%;
    width: 30px;
    text-align: left;
       
}

#grey_back {
    
  display:none;
  background-color:#000000;
  opacity:0.7;
  width:100%;
  height:100%;
  z-index:9998;
  position:fixed;
  top:0;
}



/* :::::::::::::::::::::::::::::::::::::::::::::::::::::: MAPPA :::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


#map- {
    
    width: 100%;
    height: 30%;
    padding: 0 ;
}

#logo-maps {
    
    content: url("../img/logo.png"); 
    width: 80%;
    position: static;
    margin-top: 15%;
}

#apertura{
    
    margin-bottom: 2%;
    font-size: 1.2rem;
    color: #00bfa5 ;
}

#info_indi {
    
    color: white;
    margin-bottom: 0;
    font-size: 1rem;
    
}

#info_indi:hover{
    
    color: #00bfa5;
}

#info_num{

    color: white;
    margin-top: 0;
    font-size: 1rem;
}

#email {
    
    font-size: 1.2rem;
    color: #00bfa5;
    margin-bottom: 0;
    
}

#email:hover{
    
    color:white;
}

#social {
    
    color: white;
    font-size: 2rem;
    
    
}

#web {
    
    font-size: 1.2rem;
    margin-top: 0;
    color: #00bfa5;
}


#web:hover{
    
    color:white;
}


#apri_mappa{
    
    color: #00bfa5;

}

.social {
    
    position: relative;
    padding-top: 0;
    padding-left: 10%;
    padding-right: 10%;
    width: auto;
}


/* :::::::::::::::::::::::::::::::::::::::::::::: PRODOTTI ::::::::::::::::::::::::::::::::::::::::::::: */


.product{
    
    background-color: white;
    color: white;
    box-shadow: 4px 4px 5px #455a64 ;
    border-bottom: none;
    border-style: none;
    width: 35%;
    height: 30%;
    margin: 1rem;
    padding: 0;
    display: inline-block;
    zoom: -1;
    
    
}

.product:hover{
    
    color:#00bfa5;    

}

.product img {
    
    height: auto;
    max-width: 99%;
}


.prodoct a:link, a:visited a:link:active, a:visited:active {
    
    color: white;
}
    
    
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::: SOCIAL ::::::::::::::::::::::::::::::::::::::::::::::::: */



.btn_flat:hover{

    color:#00bfa5;
}

   


    