
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* [impedisce n azione quando tocchi lo schermo ]*/
    -webkit-text-size-adjust: none;             /*  [evita in questo caso che il testo venga ridimensionato(none) ] */
    -webkit-user-select: none;                  /*  [nessun utente può selezionare il contenuto] */
    background-color:#3b3b3b;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    padding-bottom:10%;
    text-transform:uppercase;
    width:100%;
    margin: 0px;
    padding: 0px;
    
}

/* HOME */
.home {

    
    background:url(../img/sfondo.jpg) no-repeat center top; 
    position: relative;   
    background-size: contain;
    margin:0;
    padding: 0;
    height: 100%;
    width:100%;                   
    align-content: space-around;
    text-align: center;
    
}

.logo {
    
    content: url("../img/logo.png"); 
    align-content:center;
    
   
}
   
.barra {
    
    background-color:transparent;
    width: 100%;
    margin: 2px;
    bottom: 3%;  /* per far stare giù la barra */
    position: fixed;
    
}

.barra ul {
    
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
    
}

.barra ul li {
    
    display: inline ;
    position: static;
    margin: auto;
    
}
.button {
    
    align-items: center;
    background-color:#767676;
    font-size: 30px;
    color: white;
    border: 1px;
    margin: 1px ;
    padding: 2%;
    width: 55px;
        
}

.button:hover {
    background-color: #4B946A;
    
}



/* SERVICE */

.servizi {
    
    background-color: #3b3b3b;
    background-attachment:fixed;
    width: 100%;
    height: 80%;
    margin: 0px;
    padding: 0px;
    text-align: center;
}


.logo {
    
    content: url("../img/logo.png"); 
    float: center;
   
}

.barra_servizi {
    
    float: left;
}

.alpha {
    list-style-type: none;
    background-color: #3b3b3b;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: white;
    width: 100%;
    height: auto;
    padding: 30px;
    margin: 0;
}
    
.beta {
    
    list-style-type: none;
    background-color: #A6A6A6;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: white;
    width: 100%;
    height: auto;
    padding: 30px;
    margin: 0;
}

.barra_servizi ul li i {
    
    font-size: 25px;
    position: sticky ;
}


/* Landscape layout (with min-width) */
/*@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
      /*  margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    



.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
