
/* ::::::::::::::::::::::::::::::::::::::: HOME :::::::::::::::::::::::::::::::::::::::::::::: */

.home {
    
    background: url("../img/Sfondo_trasp.png") no-repeat scroll;
    position: fixed;
    height: 100%;
    width: 100%;    
    text-align: center;
    background-size: cover;
    
}

.logo {
    
    content: url("../img/logo.png"); 
    position: static;
    float: center;
    padding-top: 90%;
   
}

.logo_ {
    
    content: url("../img/logo.png"); 
    position: relative;
    padding-top: 90%;
    padding-left: 20%;
    align-content: center;

}
   
.basic {
    
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0px;
    text-align: center;
    
}


.logo_top {
    
    content: url("../img/logo.png"); 
    position: static;
    margin-top: 15%;
    margin-bottom: 5%;
}

/*  ::::::::::::::::::::::::::::::::::::::: SERVICE ::::::::::::::::::::::::::::::::::::::: */


#wrapper {
    
    position: absolute;
    overflow:auto;
    width: 100%;
    z-index:1;
    
}

.lista_collapsible {
    
    color: white;
    font-size: 1.12em;
    border-style: none;
    font-family: 'roboto';
}


.fa-ul {
 
    text-align: left;
    padding: 0;
    margin: 0;
    
}

/* ::::::::::::::::::::::::::::::::::::::: PROMO ::::::::::::::::::::::::::::::::::::::: */



.row{
    
    padding: 0 auto;
    margin: 0 auto;
    position:relative;
	min-width:12.5em;
	max-width:50em;
    
}

.promo_icon{
    
    position:relative;
    width:12.5em;
    height:auto;
    float:left;
    height: auto;
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
    
}
.promo_text{
      
    color: white;
    font-family:'Roboto';
    position: relative;
    width: calc(100% -12.5em);
    height: auto;
    margin: 0;
    padding: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    min-width: 12.5em;
    max-width: 37.5;
   
}
.promo_icon i {
    
    font-size: 2.5em;
    position: relative;
    padding: 10%;

}


.promo_text h3{
    
    font-size: 200%;
    margin: 0;
    padding: 0;
}
.promo_text h4{
    
    font-size: 150%;
    margin: 0;
    padding: 0;
}


/* ::::::::::::::::::::::::::::::::::::::: STYLE ::::::::::::::::::::::::::::::::::::::: */

.cont_style {
    
    color: white;
    width: 100%;
    height: auto;
    text-align: left;
    margin: 0;
    padding: 10%;
    
}

.cont_style h1{
    
    font-size: 200%;
    color: #00695c;
    margin: 0;
    padding: 0;
    text-align: center;
    
}


/* ::::::::::::::::::::::::::::::::::::::::::  GALLERY :::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.lista_img{
    
    width: 100%;
    align-content: center;
}


/* ::::::::::::::::::::::::::::::::::::::: EVENTO INIZIALE :::::::::::::::::::::::::::::::::::::::*/

 Landscape layout (with min-width) 
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
       margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}
    
.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size: 1.25em;
    padding:2px 0px;
    float: center;
    margin-top: 5%;
    margin-left: 20%;
    width: 60%;
    font-family: 'Roboto';
    
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#00695c;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    
   
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


/* ::::::::::::::::::::::::::::::::::::::::::::::::::::::: MENU ::::::::::::::::::::::::::::::::::::::::::::::*/

html,body
{
  margin:0px;
}

#top {
    
    height: 3.16em;
    position: fixed;
    top: 0px;
    padding-top: 5%;
    padding-left: 5%;
    line-height: 4.3em;
    
}


#button_menu {
    
    background-color: transparent;
    object-position: left;
    border: none;
    border-bottom-style: none;
    align-content: center;
    color: white;
    font-size: 2em;
}

#menu_top {
    
    height: 3.43em;
    padding-top: 5%;
    padding-left: 5%;
    
}

#menu_smartphone {
    
    height: 100%;  
    width: 9em;
    max-width: 15em;
    position:fixed;
    top:0;
    bottom:0;
    left:-35.6em;
    z-index:9999;
    float: left;

} 

#menu_smartphone ul {
    
    margin:0;
    padding: 0;
    list-style:none;

} 


#menu_smartphone ul li button {
        
    
    width: 100%;
    border: none;
    border-bottom-style: none;
    background-color: transparent;
    position: static;
    color: white;
    font-size: 1.2em;
    padding: 10%;
}

#menu_smartphone ul li button a:link, a:visited a:link:active, a:visited:active {
    
    color: white;
}



#menu_smartphone ul li button a {
    
    font-size: 1em;
    
    
}


#menu_smartphone ul li:hover {
  background:#263238;     
}


#menu_smartphone ul li i{
    
    float: left;
    color: white;
    font-size: 1.60em;
       
}

#grey_back {
    
  display:none;
  background-color:#000000;
  opacity:0.7;
  width:100%;
  height:100%;
  z-index:9998;
  position:fixed;
  top:0;
}

.menu_btn
{
    cursor: pointer;
    left:0px;
    padding: 5%;
    

}




/* :::::::::::::::::::::::::::::::::::::::::::::::::::::: MAPPA :::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */


#map- {
    
    width: 100%;
    height: 30%;
    padding: 0 ;
}

#logo-maps {
    
    content: url("../img/logo.png"); 
    position: static;
    margin-top: 15%;
}

#apertura{
    
    margin-bottom: 5%;
    font-size: 1.375em;
    color: #00796b;
    font-family: 'roboto';
}

#info {
    
    color: white;
    font-size: 1.25em;
    font-family: 'roboto';
    
}

#email {
    
    font-size: 1.25em;
    color: #00796b;
    font-family: 'roboto';
    
}

#social {
    
    color: white;
    font-size: 1.4em;
    
    
}


/* :::::::::::::::::::::::::::::::::::::::::::::: PRODOTTI ::::::::::::::::::::::::::::::::::::::::::::: */

.product {
 
    display: inline-block;
    zoom: -1;
    
}

.product button a img {
    
    image-resolution: 1em;
}

.riga_prod div {
    vertical-align: top;
    float: left;
}
    
    
    
    
    


    