
/* SLIDER */ 


.slider {
    
    background-color: white;
    height: 18.75em;
    width: 100%;
    position: relative;
    list-style-type: circle;
    padding: 0;
    margin: 0;

}

.slider li {
    
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #111;
    height: .5em;
    width: .5em;
    position: absolute;
    z-index: 10;
    border: .2em solid transparent;
    bottom: .5em;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    text-align: center;
}



.slider li:nth-child(1) label {
    left: .5em;
}
.slider li:nth-child(2) label {
    left: 2em;
}
.slider li:nth-child(3) label {
    left: 3.5em;
}

label:hover {
    background-color: #4B946A;
    
}

.slider img {
    
    opacity: 0;
    outline: none;
    position: absolute;
    visibility: hidden;
    height: 80%;
    width: 80%;
    transition: .25s;
    margin-left: 10%;
    margin-top: 5%;
    

}

.slider li input:checked ~ img {
    
    opacity: 1;
    visibility: visible;
    z-index: 10;/* per sovrapporsi al resto */
}

input[type="radio" i] {
    
    
    margin: 3px 3px 0px 5px;
}

